*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;

}
.slider{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}
.slider img{
    position: absolute;
    width: 100%;
    min-height: 100vh;
}

